:root {
  --md-primary-fg-color: #4f1fd4;
  --md-primary-fg-color--light: #3417c4;
  --md-primary-fg-color--dark: #0b0c42;
}

.md-banner {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(11, 7, 83, 1) 30%, rgba(11, 7, 83, 1) 60%, rgba(2, 0, 36, 1) 100%);
}

.announcement {
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: larger;

  a {
    color: orange;
  }

  a:hover {
    color: yellow;
  }
}